
choice IB_PUMP_TYPE

config IB_PUMP_INSUBOX
	bool "InsuBox DIY pump"
	imply PWM
	imply STEPPER
	imply SENSOR
	imply I2C
	imply TMAG5273
	help
	  This option adds support for InsuBox DIY pump.

endchoice
