config IB_HMI
    bool "InsuBox HMI module"
    help
        This option enables support for the InsuBox control module.

if IB_HMI

choice IB_HMI_TYPE
    prompt "InsuBox HMI Type"
    default IB_HMI_VIRTUAL

config IB_HMI_VIRTUAL
    bool "Virtual InsuBox HMI"
    help
        This option enables support for a virtual InsuBox HMI.
        WARNING: This option is not intended for production use.

endchoice

rsource "insubox/Kconfig"

config IB_HMI_STACK_SIZE
    int "InsuBox HMI stack size"
    default 2048
    help
        This option sets the stack size for the InsuBox HMI task.
        The default value is 2048 bytes.

endif

